/* .movie{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
    transition: 1s ease;
}

.movie__container{
    border: 1px solid #111;
    border-radius: 5px;
}

.movie_thumbnail{
    height: 30%;
    width: 100%;
}

.movie__content{
    background-color: transparent;   
}
.movie:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 768px){
    .movie__desc{
        display: none;
    }
} */


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
.movie{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
    transition: 1s ease;

}
.movie:hover{
    transform: scale(1.1);
}

figure.snip1218 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  background: transparent;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1218 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1218 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1218 .image {
  position: relative;
  border-bottom: 4px solid #34495e;
  z-index: 1;
}
figure.snip1218 .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1218 .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}
figure.snip1218 figcaption {
  background-color: transparent;
  padding: 25px;
}
figure.snip1218 h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1218 h3 span {
  font-weight: 800;
}
figure.snip1218 h5 {
  margin: 0 0 15px;
  font-weight: 400;
}
figure.snip1218 i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}
figure.snip1218 i:hover {
  background-color: #34495e;
  color: white !important;
}
figure.snip1218:hover .image:before,
figure.snip1218.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
figure.snip1218:hover .image p,
figure.snip1218.hover .image p {
  opacity: 1;
}
figure.snip1218:hover img,
figure.snip1218.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

